<div class="container">
  <nav class="navbar bg-dark">
     <a class="nav-link" [routerLink]="['top_rated']">Top Rated</a>
      <a class="nav-link" [routerLink]="['upcoming']">Upcoming</a>
      <a class="nav-link" [routerLink]="['now_playing']">Now Playing</a>
      <a class="nav-link" [routerLink]="['popular']">Popular</a>
      <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="filter" 
      name="search"
      class="form-control"
      type="search" placeholder="Find movie...">
      <button class="btn btn-info">Search</button>
    </form>
  </nav>
    <router-outlet></router-outlet>
  <footer>
    <a href="https://github.com/weronikafelczak" target="_blank">Weronika Felczak</a>
  </footer>
</div>
