body {
    background-color: rgb(30, 30, 31);
}

.container {
    background-color: rgb(201, 201, 201);
}

.card {
    margin: 0px 0px 20px 0px;
    padding: 10px;
}

footer {
    text-align:center;
}